body {
  margin-inline: auto;
  background:#665c4e no-repeat center center / cover url("./images/orangeback.png");
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
  min-height: 100dvh;
  margin: 0;
  --dark: #9f4343;
  --light: #ffe2af;
  color: var(--dark)
}

* {
  box-sizing: border-box;
}

fieldset {
  border: none;
}

.pairs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  padding: 15px;
}


.pairs__menu {
display: flex;
flex-direction: column;
place-items: center;
gap: 16px;
}

.pairs__custom-label {
  display: flex;
  place-items: center;
  gap: 16px;
}

.pairs__custom-input {
  width: 100px;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  border: none;
}

.text {
  text-align: center;
  font-size: 20px;
}

.button {
  min-width: 75px;
  min-height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  color: var(--light);
  background-color: var(--dark);
  font: 600 13px/13px Arial; 
  box-shadow: 0 0 5px var(--dark), 0 0 10px var(--dark), 0 0 15px var(--light), 0 0 20px var(--light);
  transition-timing-function: ease-in-out;
  transition-duration: .25s;
  transition-property: color,background-color;
}
.button_start {
  padding: 16px 30px;
  font-size: 18px;
}
.button_to-custom {
  margin-left: 100px;
}
.button_restart {
  margin-right: 120px;
}
.button_stop {
  display: block;
  margin-inline: auto;
}
.button_to-default {
  margin-top: 20px;
}

.button:hover {
  background-color: var(--light);
  color: var(--dark);
}

.pairs__label {
  position: relative;
  margin-right: 24px;
}

.pairs__label:has(input:checked) .button {
  color: var(--dark);
  background-color: var(--light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.section {
  margin-bottom: 30px;
}


.btn:hover {
  cursor: pointer;    
  background-color: #a9abf8;
}

.btn:active {
  background-color: #6F8AD8;
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.pairs__gameboard {
  display: grid;
  grid-auto-flow: column;
  place-items:center;
  margin-inline: auto;
  max-width: 100%;
  gap: 16px;
}
.rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.rows-4 {
  grid-template-rows: repeat(4, 1fr);
}

.pairs__difficulty {
  border: none;
}

.pairs__popup{
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-inline: auto;
}

.card {
  position: relative;
  width: 100px;
  height: 140px;
  border-radius: 7px;
  cursor: pointer;
  transition: transform .7s ease-out;
}

.card.found {
  opacity: .75;
  transform: scale(.9);
}

.card__front {
  z-index: 1;
  position: relative;
  display: flex;
  place-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: url('./images/grunge_texture.jpg');
  background-position: center;
  background-size: cover;
  transition: transform .7s ease-out;
  pointer-events: none;
}
.card__content {
  margin: auto;
  font-size: 45px;
  color: rgb(12, 64, 110);
}

.card__back {
  z-index: 0;
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 10px;
  transform: rotateY(-180deg);
  transition: transform .7s ease-out, z-index .1s linear .35s;
  background-image: url('./images/shirt.PNG');
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.card:not(.flipped) .card__back {
  transform: rotateY(0deg);
  z-index: 2;
  transition: transform .7s ease-out;
}
.card:not(.flipped) .card__front {
  transform: rotateY(180deg);
}

.deaf {
  pointer-events: none;
}